<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Connexion{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ asset('bundles/lezardfront/img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	{% stylesheets 'bundles/carnet/css/bootstrap.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
	{% stylesheets 'bundles/carnet/css/bootstrap-responsive.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
    
	
	{% stylesheets 'bundles/carnet/css/jquery-ui/jquery-ui-1.10.3.custom.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
    
	
	{% stylesheets 'bundles/carnet/css/jquery-ui/jquery.switchButton.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
                
                
	{% stylesheets 'bundles/carnet/css/global.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
	{% stylesheets 'bundles/carnet/css/global-responsive.css' filter="cssrewrite" %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
    
</head>

<body>
    
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    
    
    <div class="container" style="margin-top: 13%;">
        <div class="row">
        	<div class="span3"></div>
        	<div class="span6">
            	<div class="bgtitre">Connexion<img src="{{ asset('bundles/carnet/images/ptit_fleche.png') }}"></div>
                <div id="contentcnx">
                    
                    <form action="{{ path('fos_user_security_check') }}" method="post" class="well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <fieldset>
                        {% if error %}
    <div>{{ error.message }}</div>
{% endif %}
                        <h4>Connectez-vous(<a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a>)</h4>
                        <label for="login">
                            <img src="{{ asset('bundles/carnet/images/user.png') }}">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"   placeholder="Nom d‘utilisateur"/>
                        </label>
                        <label for="mdp">
                            <img src="{{ asset('bundles/carnet/images/pwd.png') }}">
                            <input type="password" id="password" name="_password" placeholder="Mot de passe" />
                        </label>
                        <div id="champswitchbutton">
                            <span>Se souvenir de moi</span>
                            <input type="checkbox" id="remember_me" name="_remember_me" checked  value="1" class="btn btn-info" />
                        </div>
                        <button type="submit" value="Connexion" id="submitcnx" class="btn btn-info">login</button>
                        
                        {#
                            Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
                            (plus de détails ci-dessous)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}
                    </fieldset>
                    </form>
                    
                </div>
            </div>
        	<div class="span3"></div>
        </div>
	</div>
    
	<div class="container">
		<footer>
			<p>&copy; 2016</p>
		</footer>
	</div>
	
	
    {% javascripts '@CarnetBundle/Resources/public/js/jquery/jquery-2.0.3.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
    {% javascripts '@CarnetBundle/Resources/public/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
    {% javascripts '@CarnetBundle/Resources/public/js/jquery-ui/jquery-ui-1.10.3.custom.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
    {% javascripts '@CarnetBundle/Resources/public/js/jquery-ui/jquery.switchButton.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    
	
	<script>
$("#remember_me").switchButton({
	//on_label: '',
	//off_label: '',
	show_labels: false,
	checked: false
});
</script>
</body>
</html>
    